@{
    ViewBag.ActivePage = "Index"; 
}
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ארז_רינגלר</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ארז_רינגלר.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
           <ul class="navbar-links">
               <li class="nav-item">
                    <a class="nav-link text-dark @(ViewBag.ActivePage == "Index" ? "active-link" : "")" asp-controller="Home" asp-action="Index">דף הבית</a>
                </li>
              <li class="nav-item">
                    <a class="nav-link text-dark @(ViewBag.ActivePage == "About" ? "active-link" : "")" asp-controller="Home" asp-action="About">אודות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(ViewBag.ActivePage == "AreaOfTreatment" ? "active-link" : "")" asp-controller="Home" asp-action="AreaOfTreatment">תחומי טיפול</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(ViewBag.ActivePage == "Contact" ? "active-link" : "")" asp-controller="Home" asp-action="Contact">צור קשר</a>
                </li>
           </ul>
            <div class="navbar-brand">ד"ר ארז רינגלר</div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ארז_רינגלר - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
